/* Import common styles or define them separately */

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 20px;
}

.icon {
    display: flex;
    align-items: center;
    gap: 7px;
}

.icon i {
    font-size: 1.2em;
}

.hero-header {
    margin-top: 20px;
}

.brand-name {
    margin: 0;
    font-size: 3em;
    font-weight: bold;
}

.brand-subtitle {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
}

.hero-text {
    margin-top: 20px;
    font-size: 2em;
    font-weight: normal;
}

.hero-text h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.5;
    gap: 7px;
    /* Adjust line height for better appearance */
}

.hero-images {
    display: flex;
    justify-content: space-around;
    /* Adjust alignment of images */
    margin: 40px auto;
    /* Center align and adjust margin */
    max-width: 800px;
    /* Set maximum width for better responsiveness */
}

.polaroid {
    background: transparent;
    padding: 5px;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
    /* Adjust margin */
    transform: rotate(-3deg);
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    width: 40%;
    /* Adjust width for better proportion */
    position: relative;
    overflow: hidden;
    /* Prevent image overflow */
}

.polaroid img {
    width: 150%;
    height: auto;
    display: block;
    /* Ensure image displays correctly */
}

.polaroid:hover {
    transform: rotate(0deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.hero-print {
    margin-top: 20px;
    /* Adjust top margin for print section */
    font-size: 1.5em;
    font-weight: bold;
    opacity: 0;
    /* Initially hide print section */
    transition: opacity 0.5s ease;
    /* Smooth transition for opacity */
}

.active .hero-print {
    opacity: 1;
    /* Show print section when active */
}